html,
body {
  background-image: url("./static/bg.gif");
  color: beige !important;
}
a {
  text-decoration: underline !important;
  text-decoration-style: wavy !important;
  color: #ffffff !important;
}
.Divider {
  width: 100%;
  padding: 25px;
}
.App {
  text-align: center;
}
.HelloWorld {
  font-size: 78px;
  font-family: cursive;
  font-smooth: never;
  -webkit-font-smoothing: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.bg-dark {
  background-image: url("./static/bg.gif") !important;

  background-color: #222222 !important;
  opacity: 69% !important;
}
.navBar {
  background-color: #222222 !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.HeaderText {
  font-family: "ＭＳ Ｐゴシック";
  font-size: calc(10px + 2vmin);
  color: beige;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: rgb(80, 90, 99);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
